.message{
    display: flex;
    padding: 20px;
    align-items: center;
}

.message > img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: 5px;
}

.message__timestamp{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}